{{#each this}}
<li class='gallery-item'>
<a class="gallery__link"  href="{{urls.regular}}">
    <img class="gallery-item__img" src='{{urls.small}}' alt='{{alt_description}}' class='gallery-img' />
  </a>
  </li>
{{/each}}
